.Pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pomodoro h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.Pomodoro div {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.PomodoroControls {
    padding: 30px;
}