.NewTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.NewTask h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

.NewTask input {
    height: 20px;
    width: 30%;
}

.NewTask button {
    margin: 30px;
    width: 15%;
    height: 30px;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-transform: uppercase;
}