.TasksList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #cccccc;
    width: 80%;
}

.TasksList li {
    width: 40%;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.TasksList button {
    margin: 20px;
    height: 20px;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}